@import '../../styles/colors.scss';

.weather-scroll-container {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px;
}

.weather-card {
	flex: 0 0 auto;
	width: 70px;
	height: 150px;
	margin-right: 10px;
	border-radius: 40px;
	display: flex;
	background-image: linear-gradient(to right, #2e335a, #1c1b33);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 2px solid #48319d;
}

.time {
	font-size: 20px;
	margin-top: 10px;
}

.temperature {
	font-size: 24px;
}

.now-hour {
	background-image: linear-gradient(180deg, #5936b4 0%, #362a84 100%);
}
